.headline {
  margin: 0;
  text-align: center;

  &--spacing-top {
    margin-top: 2rem;

    @include atMD {
      margin-top: 0;
    }
  }

  &__title {
    display: block;
    color: $font-color-secondary;
    font-family: $font-family-secondary;
    font-size: 6rem;
    font-weight: 300;
    line-height: 1;

    &::first-letter {
      font-size: 8.5rem;
    }

    &--body {
      font-size: 5rem;

      &::first-letter {
        font-size: 7.5rem;
      }
    }
  }

  &__subtitle {
    display: inline-block;
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: 1px;

    span {
      text-transform: uppercase;
    }

    &--body {
      font-size: 3.5rem;
    }
  }
}

.pg {
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: justify;

  @include atMD {
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  p:not(:last-child) {
    margin-bottom: 2rem;
  }

  &--centered {
    text-align: center;
  }

  &--narrow {
    margin: 0 auto;
    max-width: 60rem;
  }

  &--spaced {
    line-height: 1.75;
  }
}

.content-block {
  margin-bottom: 2rem;
  text-align: center;

  @include atMD {
    margin-bottom: 0;
    text-align: left;
  }

  h2 {
    text-align: center;

    @include atMD {
      text-align: left;
    }
  }
}

.content-block__asterisk {
  margin: 1rem 0;
  font-size: 1rem;

  @include atMD {
    display: none;
  }
}

span.lc {
  text-transform: lowercase;
}
