.page-section {
  padding: 3rem 0;

  @include atSM {
    padding: 4.5rem 0;
  }

  @include atMD {
    padding: 6rem 0;
  }

  @include atLG {
    padding: 7.5rem 0;
  }

  &--hero {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--bg-between {
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--recipes {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
      url('../images/recipes-bg.jpg');
  }

  &--ambiance {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
      url('../images/ambiance-bg.jpg');
  }

  &--no-spacing {
    padding: 0;
  }

  &--less-spacing {
    padding: 3rem 0;

    @include atMD {
      padding: 4.5rem 0;
    }
  }
}
