.page-section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include atSM {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  @include atMD {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  @include atLG {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  &--hero {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--bg-between {
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--recipes {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/recipes-bg.jpg');
  }

  &--video {
    padding: 0;
    height: auto;
    text-align: center;

    @include atMD {
      height: 50rem;
    }

    video {
      height: 100%;

      @include atMD {
        border-radius: 4px;
      }
    }
  }
}
