.newsletter {
  h4 {
    margin-bottom: 1rem;
    font-weight: 300;
    text-transform: capitalize;
  }

  &__form {
    position: relative;
    max-width: 40rem;
    margin: 0 auto;
  }

  &__input {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: 4px;
    border: none;
    outline: none;
    color: $font-color-primary;
    font-size: 1.4rem;
  }
}
