.site-footer {
  position: relative;
  background-color: #121212;
  color: #fff;
  text-align: center;

  &__to-top {
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #121212;

    i {
      display: block;
      margin-top: -5px;
      padding: 2rem;
      color: #fff;
      font-size: 2rem;
    }
  }

  &__title {
    margin-top: -1rem;
    margin-bottom: 2.5rem;
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: capitalize;

    span {
      text-transform: uppercase;
    }
  }

  &__asterisk {
    @extend .hero__asterisk;
    margin: 1.5rem 0;
  }

  &__info {
    margin-bottom: 2.5rem;
    font-weight: 300;
  }

  &__social-icons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;

    a {
      padding: 8px 16px;
      color: #fff;
      font-size: 3.5rem;
      color: rgba(255, 255, 255, 0.95);
      transition: color 0.25s ease;

      &:hover,
      &:focus {
        color: $font-color-secondary;
      }
    }
  }

  &__subtitle {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 300;
    text-transform: capitalize;
  }
}
